:root {
  /* Primary Color  */

  --yellow-primary: rgb(244 179 0);
  --black-primary: rgb(37 37 37);
  --white: rgb(255 255 255);

  /* Secondary Color  */

  --black-secondary: rgb(49 49 49);
}

@font-face {
  font-family: "Oswald";
  src: url(./fonts/static/Oswald-Bold.ttf);
  
}

@font-face {
  font-family: "Open Sans";
  src: url(./fonts/OpenSans_Condensed-Regular.ttf);
}

@font-face {
  font-family: "poppins";
  src: url(./fonts/Poppins-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black-primary);
}

hr.rounded {
  border-top: 6px solid rgb(244 179 0);
  border-radius: 8px;
  max-width: 8rem;
  margin: auto;
}

.cta {
  display: inline-block;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  background-color: var(--yellow-primary);
  color: var(--white);
  /* border-radius: 10px; */
  font-weight: 600;
  font-family: 'Oswald';
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

.bi-telephone {
  fill: var(--white);
  min-width: 2rem;
  min-height: 3rem;
}


header {
  min-width: 19rem;
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 2rem; */
  padding: 0 6rem;
}

.logo {
  color: var(--black-primary);
  font-size: 1.5rem;
  font-family: "Oswald";
  font-weight: 800;
  text-transform: uppercase;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 5rem;
}

header nav ul li a {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  }

.home {
  color: var(--yellow-primary);
}

.phone {
  background-color: var(--yellow-primary);
  display: flex;
  text-align: center  ;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
}

.phone p {
  color: var(--white);
}

.phone img {
  min-width: 1rem;
  min-height: 2rem;
}

/* Hero Section */

.hero {
  background-image: url(./images/background2.jpg);
  min-width: 100%;
  /* min-height: 100vh; */
  background-size: cover;
  background-position: center;
  /* text-align: center;  */
  padding: 10rem 2rem 5rem 4rem;
  display: flex;
  justify-content: space-between;
}

.hero h1 {
  font-size: 5rem;
  color: var(--white);
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  /* line-height: 8rem; */
  padding-bottom: 2rem;
}

.hero p {
  color: var(--white);
}

.hero a {
  display: inline-block;
  padding: 0.8rem 1rem;
  margin-top: 2rem;
  text-transform: uppercase;
  background-color: var(--yellow-primary);
  color: var(--white);
  border: none;
  font-weight: 600;
  font-family: 'Oswald';
  font-size: 1.2rem;
  cursor: pointer;
} 

.right-hero {
  padding: 1rem 2rem;
  margin: 1rem 0;
  max-width: 25rem;
  min-width: 10rem;
  background-color: var(--white);
}

.right-hero h3 {
  font-family: 'Oswald', sans-serif; 
  color: var(--yellow-primary);
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}


.right-hero p {
  font-family: 'Poppins', sans-serif;
  color: var(--black-secondary);
  font-size: 0.9rem;
  text-align: center;
}

form {
  /* max-width: 10rem;   */
  padding: 2rem 2rem 0;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}

form input {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  width: 100%;
}

form label {
  color: var(--black-primary);
}

form textarea {
  font-family: 'Open Sans', sans-serif;
  resize: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  display: inline-block;
  width: 100%;
}

form button {
  display: block;
  font-family: 'Oswald', sans-serif;
  background-color: var(--yellow-primary);
  padding: 0.8rem 2rem;
  margin: auto;
  color: var(--white);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  border: none;
}


/* Trusted-badges */

.trusted-badges {
  min-width: 20rem;
  background-color: var(--black-primary);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.containter-badges {
  display: flex;
  align-items: center;
  background-color: #313131;
}

.trusted-badges img {
  min-width: 4rem;
  color: var(--white);
}

.trusted-badges p {
  color: var(--white);
  font-size: 1.5rem;
}


/* Testimonials section */

.testimonials {
  min-width: 10rem;
  min-height: 30rem;
  margin: 0 2rem;
  text-align: center;
}

.testimonials h2 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.testimonials p {
  padding: 2rem 0;
  color: var(--black-primary);
}

.testimonials .cases {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 0;
}

.cases ul {
  box-shadow: 0px 0px 0 1px rgba(0, 0, 0, 0.2);
  min-width: 10rem;
  min-height: 5rem;
  padding-bottom: 2rem;
  border-radius: 10px;
}

.cases ul li {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 2rem;
}

.cases ul li p {
  color: var(--black-secondary);
  font-family: "poppins";
}

.figure {
  display: flex;
  gap: 0.8rem;
  min-width: 1rem;
}

.avatar {
  max-width: 10rem;
  max-height: 5rem;
  border-radius: 2.5rem;
  /* margin-left: 2rem; */
  /* display: inline; */
}

.star {
  min-width: 1rem;
}

.google-icon{
  min-width: 1rem;
}

.parag {
  padding: 1rem 2rem;
  text-align: left;
}

/* Our Services */

.our-services {
  min-width: 10rem;
  min-height: 20rem;
  margin: 4rem;
}

.our-services h2 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: var(--black-primary);
}

.our-services p {
  text-align: center;
  padding: 2rem 0;
  color: var(--black-primary);
}

.our-services .case {
  display: flex;
  justify-content: space-around;
}

.our-services .case h3 {
  color: var(--black-primary);
}

.list {
  padding: 1rem 0;
}

.list li {
  list-style: disc;
  color: var(--black-secondary);
}

/* Our Gallery */

.our-gallery {
  min-width: 10rem;
  min-height: 30rem;
  margin:4rem 2rem;
  text-align: center;
}

.our-gallery h2 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: var(--black-primary);
}

.our-gallery .gallery {
  min-width: 5rem;  
  margin: 3rem auto;
  display: flex;
  gap: 0.2rem;
}

.gallery img {
  max-width: 20rem;
  min-width: 8rem;
}


/* Why-Choose-Us  */

.why-choose-us {
  /* min-width: 10rem; */
  /* min-height: 30rem; */
  padding:6rem 2rem;
  background-image: url('./images/pattern-background-desktop.svg');
  min-width: 50%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.why-choose-us h2 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: var(--black-primary);
}

.why-choose-us p {
  text-align: center;
  padding: 1rem 0;
  color: var(--black-secondary);
}

.why-choose-us ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}

.why-choose-us ul li {
  /* border: 1px solid black; */
  min-height: 10rem;
  max-width: 20rem;
  background-color: var(--white);
  box-shadow: 0px 0px 0 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
}

.why-choose-us ul li h6 {
  /* color: var(--black-primary); */
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 2px #5e5e5e, 0 0 2px #5e5e5e;
  color: #fff!important
}

/* Our Process */

.our-process {
  min-width: 10rem;
  min-height: 20rem;
  padding:6rem 2rem;
}

.our-process h2 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: var(--black-primary);
}

.our-process p {
  font-family: 'poppins', sans-serif; 
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.our-process ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

.our-process ul li {
  font-size: 1.2rem;
  color: var(--black-secondary);
}

.step {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--yellow-primary);
}


/* Address */

.address {
  min-width: 10rem;
  min-height: 30rem;
  padding:2rem 2rem;
  display: flex;
  justify-content: space-between;
}

.google-map {
  padding: 2rem;
  /* position: relative; */
}

.google-map iframe {
  max-height: 100%;
  max-width: 100% ;
  /* left: 0;
  top: 0; */
  /* position: absolute; */
}

.address-form {
  background-color: var(--black-secondary);
}

.address-form h3, .address-form p {
  color: var(--white);
  text-transform: none;
}

.address label {
  color: var(--white);
}


/* footer */

.contact {
  min-width: 10rem;
  min-height: 10rem;
  padding: 2rem 2rem 0;
  background-color: var(--black-primary);
  color: var(--white);
}

.contact span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact span h5 {
  font-size: 2rem;
  color: var(--white);
}

.contact .logo-foot {
  font-size: 1.5rem;
  font-family: "Oswald";
  font-weight: 800;
  color: var(--white);
}

.contact nav ul {
  display: flex;
  gap: 1rem;
}

.contact nav ul li a {
  color: var(--white);
}

.contact nav ul li a:hover {
  color: var(--yellow-primary);
}

.bar {
  padding: 2rem 0 1rem;
}

.contact .social {
  gap: 1rem;
}

.contact .social img {
  min-width: 1.5rem;
  min-height: 1.5rem;
}



@media (max-width: 48rem) {

  header {
    margin: 0;
    padding: 0 2rem;
  }

  header nav ul {
    gap: 3rem;
  }

  .logo {
    font-size: 1.4rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .right-hero h3 {
    font-size: 1.2rem;
  }

  form {
    padding: 0;
  }

  .testimonials {
    margin: 0 1rem;
  }

  .testimonials .cases {
    gap: 0.4rem;
  }

  .figure {
    gap: 0.4rem;
  }
}


@media (max-width: 30rem) {

  .logo {
    font-size: 1rem;
  }

  header nav {
    display: none;
  }

  .phone {
    border-radius: 8px;
    padding-bottom: 0;
  }


  .phone img {
    min-width: 10px;
    min-height: 1rem
  }

  .bi.bi-telephone {
    min-width: 1.5rem;
    /* min-height: 1rem */
  }

  .phone p {
    font-size: 0.8rem;
  }

  .phn {
    display: none;
  }

  .hero {
    display: block;
    padding-top: 4rem;
  }

  .hero h1 {
    font-size: 2.8rem;
}

  .hero a {
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }

  form input {
    font-size: 1rem;
}

  form button {
    font-size: 0.8rem;
  }

/* .testimonials {
  display: block;
} */

.trusted-badges {
  display: block;
  padding-bottom: 1rem;
  text-align: center;
}

.containter-badges {
  gap: 1rem;
  /* margin: 1rem 0; */
}

hr.rounded {
  max-width: 5rem;
}

.testimonials h2 {
  font-size: 2rem;
}

.testimonials .cases {
  display: grid;
  grid-template-columns: 1fr;
}

.testimonials p {
  padding: 0 0.5rem;
}

.parag {
  text-align: justify;
  padding: 0 0.5rem;
}

.cta {
  font-size: 0.9rem;
}

.our-services h2 {
  font-size: 2rem;
}

.our-services .case {
  display: block;
}

.our-gallery {
  margin: 0 0.5rem 3rem;
}

.our-gallery h2 {
  font-size: 2rem;
}

.our-gallery .gallery {
  display: block;
}

.gallery img {
  max-width: 100%;
}

.why-choose-us h2 {
  font-size: 2rem;
}

.why-choose-us ul {
  display: block;
}

.why-choose-us ul li {
  margin: 0 auto 3rem;
}

.our-process {
  padding: 0 1rem;
}

.our-process h2 {
  font-size: 2rem;
}

.our-process p {
  font-size: 1rem;
}

.our-process ul {
  display: block;
  text-align: center;
}

.address {
  display: block;
}

.contact span h5 {
  font-size: 1.4rem;
}

.contact span a {
  padding: 0.5rem 1rem;
  /* font-size: 0.6rem; */
}

.contact .logo-foot {
  font-size: 1rem;
}

.contact nav ul {
  display: block;
}

.contact .social img {
  min-width: 1.2rem;
  min-height: 1.2rem;
}

}